In [35]:
import numpy as np
import pandas as pd
import os

In [36]:
parent = os.path.dirname(os.getcwd())
parent

'c:\\Users\\igors\\OneDrive\\Documents\\studia\\Sem4-IgorS\\DV\\lab4\\Wine-Reviews-Dashboard\\MyDashboard_1'

In [37]:
wine_data = pd.read_csv(parent + '/data/wine_df_emb_nona_nosam.csv', sep=',')
wine_data.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,embedding,pca_x,pca_y,tsne_x,tsne_y
0,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,[-3.17193456e-02 6.15179986e-02 -3.06415521e-...,-0.265071,-0.045110,-44.432747,-20.789902
1,10,US,"Soft, supple plum envelopes an oaky structure ...",Mountain Cuvée,87,19.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Kirkland Signature 2011 Mountain Cuvée Caberne...,Cabernet Sauvignon,Kirkland Signature,[ 4.91408370e-02 -9.19872969e-02 -2.56193969e-...,0.266994,-0.159955,49.794857,-19.789526
2,23,US,This wine from the Geneseo district offers aro...,Signature Selection,87,22.0,California,Paso Robles,Central Coast,Matt Kettmann,@mattkettmann,Bianchi 2011 Signature Selection Merlot (Paso ...,Merlot,Bianchi,[ 2.79283989e-02 -4.42790389e-02 -1.00948021e-...,0.157790,0.126469,29.948954,13.420984
3,25,US,Oak and earth intermingle around robust aromas...,King Ridge Vineyard,87,69.0,California,Sonoma Coast,Sonoma,Virginie Boone,@vboone,Castello di Amorosa 2011 King Ridge Vineyard P...,Pinot Noir,Castello di Amorosa,[ 3.41687761e-02 -8.85365382e-02 4.35957499e-...,0.044113,0.081238,23.426754,23.644087
4,35,US,As with many of the Erath 2010 vineyard design...,Hyland,86,50.0,Oregon,McMinnville,Willamette Valley,Paul Gregutt,@paulgwine,Erath 2010 Hyland Pinot Noir (McMinnville),Pinot Noir,Erath,[-4.40932214e-02 -1.40055548e-02 -2.32350472e-...,0.238014,-0.137409,77.911660,-26.103962

In [38]:
wine_data.drop(columns = ["embedding", "pca_x", "pca_y", "tsne_x", "tsne_y"], inplace=True)
wine_data.drop(columns = ["Unnamed: 0", "country", "title", "description"], inplace = True)
wine_data.head()

,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,variety,winery
0,Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Pinot Noir,Sweet Cheeks
1,Mountain Cuvée,87,19.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Cabernet Sauvignon,Kirkland Signature
2,Signature Selection,87,22.0,California,Paso Robles,Central Coast,Matt Kettmann,@mattkettmann,Merlot,Bianchi
3,King Ridge Vineyard,87,69.0,California,Sonoma Coast,Sonoma,Virginie Boone,@vboone,Pinot Noir,Castello di Amorosa
4,Hyland,86,50.0,Oregon,McMinnville,Willamette Valley,Paul Gregutt,@paulgwine,Pinot Noir,Erath

In [39]:
wine_data["taster_name"].value_counts()

taster_name
Virginie Boone       6422
Paul Gregutt         5989
Matt Kettmann        4479
Sean P. Sullivan     3357
Jim Gordon           1915
Susan Kostrzewa        97
Joe Czerwinski         69
Michael Schachner      43
Lauren Buzzeo          14
Roger Voss              1
Christina Pickard       1
Name: count, dtype: int64

In [40]:
reviewers_data = wine_data.groupby("taster_name").agg({"points" : "mean", "price" : "mean", 
                                                       "variety" : "count"}).reset_index()
reviewers_data.rename(columns = {"taster_name" : "reviewer", "variety" : "num_reviews"}, inplace = True)
reviewers_data.set_index("reviewer", inplace = True)
reviewers_data.head()

                      points      price  num_reviews
reviewer
Christina Pickard  89.000000  30.000000            1
Jim Gordon         88.820366  28.404178         1915
Joe Czerwinski     85.449275  22.086957           69
Lauren Buzzeo      85.428571  16.571429           14
Matt Kettmann      90.474660  42.439161         4479

In [41]:
best_variety = wine_data.groupby(["taster_name", "variety"]).agg({"points" : "mean"}).reset_index()
best_variety = best_variety.groupby("taster_name").apply(lambda x: x.loc[x['points'].idxmax()]).reset_index(drop=True)
best_variety.set_index("taster_name", inplace = True)
best_variety.head()

C:\Users\igors\AppData\Local\Temp\ipykernel_19336\3425085117.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  best_variety = best_variety.groupby("taster_name").apply(lambda x: x.loc[x['points'].idxmax()]).reset_index(drop=True)

                           variety     points
taster_name
Christina Pickard  Sparkling Blend  89.000000
Jim Gordon         Champagne Blend  95.250000
Joe Czerwinski          Pinot Noir  87.727273
Lauren Buzzeo           Chardonnay  85.461538
Matt Kettmann       Grenache Blend  95.000000

In [42]:
best_winery = wine_data.groupby(["taster_name", "winery"]).agg({"points" : "mean"}).reset_index()
best_winery = best_winery.groupby("taster_name").apply(lambda x: x.loc[x['points'].idxmax()]).reset_index(drop=True)
best_winery.set_index("taster_name", inplace = True)
best_winery.head()

C:\Users\igors\AppData\Local\Temp\ipykernel_19336\2574087668.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  best_winery = best_winery.groupby("taster_name").apply(lambda x: x.loc[x['points'].idxmax()]).reset_index(drop=True)

                              winery  points
taster_name
Christina Pickard         Breathless    89.0
Jim Gordon                  Liparita    93.5
Joe Czerwinski         Panther Creek    91.5
Lauren Buzzeo      Christiano Family    86.0
Matt Kettmann       D'Alfonso-Curran    96.0

In [43]:
best_province = wine_data.groupby(["taster_name", "province"]).agg({"points" : "mean"}).reset_index()
best_province = best_province.groupby("taster_name").apply(lambda x: x.loc[x['points'].idxmax()]).reset_index(drop=True)
best_province.set_index("taster_name", inplace = True)
best_province.head()

C:\Users\igors\AppData\Local\Temp\ipykernel_19336\2288053284.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  best_province = best_province.groupby("taster_name").apply(lambda x: x.loc[x['points'].idxmax()]).reset_index(drop=True)

                     province     points
taster_name
Christina Pickard  California  89.000000
Jim Gordon         California  88.820366
Joe Czerwinski         Oregon  87.866667
Lauren Buzzeo        New York  85.428571
Matt Kettmann      California  90.474660

In [44]:
reviewers_data["best_variety"] = best_variety["variety"]
reviewers_data["best_winery"] = best_winery["winery"]
reviewers_data["best_province"] = best_province["province"]
reviewers_data.head()

,points,price,num_reviews,best_variety,best_winery,best_province
reviewer,,,,,,
Christina Pickard,89.000000,30.000000,1,Sparkling Blend,Breathless,California
Jim Gordon,88.820366,28.404178,1915,Champagne Blend,Liparita,California
Joe Czerwinski,85.449275,22.086957,69,Pinot Noir,Panther Creek,Oregon
Lauren Buzzeo,85.428571,16.571429,14,Chardonnay,Christiano Family,New York
Matt Kettmann,90.474660,42.439161,4479,Grenache Blend,D'Alfonso-Curran,California

In [45]:
reviewers_data["points"] = reviewers_data["points"].round(2)
reviewers_data["price"] = reviewers_data["price"].round(2)
reviewers_data = reviewers_data.T
reviewers_data.index.name = "attributes"
reviewers_data.to_csv(parent + '/data/reviewers_aggregated_data.csv', sep=',')
reviewers_data.head()

reviewer,Christina Pickard,Jim Gordon,Joe Czerwinski,Lauren Buzzeo,Matt Kettmann,Michael Schachner,Paul Gregutt,Roger Voss,Sean P. Sullivan,Susan Kostrzewa,Virginie Boone
attributes,,,,,,,,,,,
points,89.0,88.82,85.45,85.43,90.47,87.0,89.4,88.0,89.08,84.89,89.6
price,30.0,28.4,22.09,16.57,42.44,27.0,37.42,25.0,36.84,22.57,51.52
num_reviews,1,1915,69,14,4479,43,5989,1,3357,97,6422
best_variety,Sparkling Blend,Champagne Blend,Pinot Noir,Chardonnay,Grenache Blend,Black Muscat,Muscat Canelli,Pinot Noir,Grenache-Syrah,Pinot Gris,Moscato Giallo
best_winery,Breathless,Liparita,Panther Creek,Christiano Family,D'Alfonso-Curran,Cristom,Cayuse,Kynsi,Horsepower,Dr. Konstantin Frank,Alpha Omega